.fullpost__text {
  margin: 35px 0 25px 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
.fullpost__text > p > a {
  color: blue;
  text-decoration: underline;
}
.fullpost__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding-top: 5px;
  border-top: 2px solid #d6d6d6;
  border-bottom: 2px solid #d6d6d6;
  font-size: 14px;
  line-height: 28px;
}
